<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @professor.name %>
</p>

<p>
  <strong>Office:</strong>
  <%= @professor.office %>
</p>

<p>
  <strong>Email:</strong>
  <%= @professor.email %>
</p>

<p>
  <strong>Courses and Sections:</strong>
  <ol>
  <% @professor.sections.each do |section| %>
    <li> <%= section.course.name %>-<%= section.section_number %>

  <% end %>
</ol>




<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
