<p id="notice"><%= notice %></p>

<h1>Sections</h1>

<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Section number</th>
      <th>Name</th>
      <th>Building</th>
      <th>Room number</th>
      <th>Professor</th>

      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.course.name %></td>
        <td><%= section.section_number %></td>
        <td><%= section.name %></td>
        <td><%= section.building %></td>
        <td><%= section.room_number %></td>
        <td><%= section.professor.name %></td>
        <td><%= link_to 'Show', section %></td>
        <td><%= link_to 'Edit', edit_section_path(section) %></td>
        <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section', new_section_path %>
<p>
  <a href= "/courses"> Go to Courses </a>
</p>
<p>
  <a href= "/professors"> Go to Professors </a>
</p>
