<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @section.course.name %>
</p>

<p>
  <strong>Section number:</strong>
  <%= @section.section_number %>
</p>

<p>
  <strong>Building:</strong>
  <%= @section.building %>
</p>

<p>
  <strong>Room number:</strong>
  <%= @section.room_number %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @section.professor.name %>
</p>




<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
